@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: rgba(118, 148, 176, 1);
}

/* pop up */

/* #popup-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

#popup{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
} */

/* navbar */

#nav-bar{
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0px;
    top: 0px;
    background: rgba(245, 245, 245, 1);
}

#greetings{
    position: relative;
    width: 144px;
    height: 24px;
    left: 95px;
    top: 25px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px; 
    color: rgba(18, 64, 134, 0.67);
}

#nav-1{
    position: absolute;
    width: 58px;
    height: 24px;
    left: 669px;
    top: 25px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-decoration-line: underline;
    color: #124086;
}

#nav-2{
    position: absolute;
    width: 60px;
    height: 24px;
    left: 777px;
    top: 25px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: rgba(18, 64, 134, 0.67);
}

#nav-3{
    position: absolute;
    width: 51px;
    height: 24px;
    left: 891px;
    top: 25px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: rgba(18, 64, 134, 0.67);
}

#nav-4{
    position: absolute;
    width: 80px;
    height: 24px;
    left: 992px;
    top: 25px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: rgba(18, 64, 134, 0.67);
}

#nav-5{
    position: absolute;
    width: 78px;
    height: 24px;
    left: 1122px;
    top: 25px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: rgba(18, 64, 134, 0.67);
}

/* content */

#content{
    margin-top: 170px;
    margin-left: 120px;
    position: relative;
}

#content h1{
    position: absolute;
    font-weight: bold;
    font-size: 45px;
    line-height: 61px;
    color: rgba(245, 245, 245, 1);
}

#content p{
    position: absolute;
    top: 150px;
    font-size: 20px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    
}

.highlight{
    font-weight: bold;
    color: #2e4a64;
}

.profile-img{
    position: absolute;
    width: 220px;
    height: 220px;
    right: 150px;
    top: 10px;
    border-radius: 120px;
}

.git-img{
    position: absolute;
    width: 34px;
    height: 33.26px;
    right: 270px;
    top: 300px;
}

.linkedin-img{
    position: absolute;
    width: 34px;
    height: 33.26px;
    right: 210px;
    top: 300px;
}


#nav-dir{
    position: absolute;
    top: 310px;
    font-size: 20px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    text-decoration-line: underline;
}